@{
    ViewData["Title"] = "Trang chủ";
}

<h1>Chào mừng đến với Website Pizza!</h1>
<p>Đây là trang Index của Controller.</p>

<a asp-controller="Account" asp-action="Login" class="btn btn-success">Đăng nhập</a>